ETCD_NAME={{ etcd_name }}
ETCD_LISTEN_PEER_URLS="https://{{ ansible_default.ipv4.address }}:2380"
ETCD_LISTEN_CLIENT_URLS="https://{{ ansible_default.ipv4.address }}:2379"
ETCD_INITIAL_CLUSTER_TOKEN="{{ cluster_token }}"
ETCD_INITIAL_CLUSTER="{{ listen-client-urls }}"
ETCD_INITIAL_ADVERTISE_PEER_URLS="https://node1.mydomain.com:2380"
ETCD_ADVERTISE_CLIENT_URLS="https://node1.mydomain.com:2379"
ETCD_TRUSTED_CA_FILE={{ dir_config }}/etcd-ca.crt
ETCD_CERT_FILE="{{ dir_config }}/server.crt"
ETCD_KEY_FILE="{{ dir_config }}/server.key"
ETCD_PEER_CLIENT_CERT_AUTH=true
ETCD_PEER_TRUSTED_CA_FILE={{ dir_config }}/etcd-ca.crt
ETCD_PEER_KEY_FILE={{ dir_config }}/server.key
ETCD_PEER_CERT_FILE={{ dir_config }}/server.crt
